name: adi_attach
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.1

environment:
  sdk: ">=2.17.6 <3.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  # Share content
  share_plus: ^6.2.0

  # App Onboarding
  showcaseview: ^1.1.8

  # Parse uuids
  json_schema2: ^2.0.2+11

  # charts
  fl_chart: ^0.55.1

  # Logging tool
  simple_logger: ^1.9.0

  # BLE - Bluetooth Low Energy
  flutter_reactive_ble: ^5.0.2

  # Permission
  permission_handler: ^10.0.0

  #states
  provider: ^6.0.3

  #signal icon
  signal_strength_indicator: ^0.4.1

  # splash screen
  flutter_native_splash: ^2.2.8

  # Open Settings
  app_settings: ^4.1.8

  # Get version
  package_info_plus: ^1.4.3+1

  # Device info
  device_info_plus: ^4.1.2

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  
  cross_platform_ui_elements:
    git:
      url: https://github.com/khanliKU/cross_platform_ui_elements.git

  # pick program files
  file_picker: ^5.2.0+1

  # For CRC32
  archive: ^3.3.2
  ffigen: ^7.2.0
  async: ^2.9.0

dependency_overrides:
  fl_chart:
    git:
      url: https://github.com/khanliKU/fl_chart.git
      ref: 36701547c8d86e3172e6c8c66912548f3556b68b

  flutter_reactive_ble:
    git:
      url: https://github.com/khanliKU/flutter_reactive_ble.git
      path: packages/flutter_reactive_ble

  reactive_ble_mobile:
    git:
      url: https://github.com/khanliKU/flutter_reactive_ble.git
      path: packages/reactive_ble_mobile

  reactive_ble_platform_interface:
    git:
      url: https://github.com/khanliKU/flutter_reactive_ble.git
      path: packages/reactive_ble_platform_interface

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.10.0

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/ADI-AMP-KO-White.png
    - assets/ADI-Logo-RGB-FullColor.png
    - assets/ADI-Logo-AWP-Tagline-RGB-FullColor.png
    - bluetooth-numbers-database/v1/attribute_schema.json
    - bluetooth-numbers-database/v1/characteristic_uuids.json
    - bluetooth-numbers-database/v1/company_ids.json
    - bluetooth-numbers-database/v1/company_schema.json
    - bluetooth-numbers-database/v1/descriptor_uuids.json
    - bluetooth-numbers-database/v1/service_uuids.json
    - assets/custom_services.json
    - assets/custom_characteristics.json
    
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/ADI-Logo-RGB-FullColor-Scaled.jpg"

ffigen:
  name: Crc32
  output: 'lib/global/generated_crc32.dart'
  headers:
    entry-points:
      - 'src/crc32.h'
  llvm-path:
    - '/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/libclang.dylib'